<!DOCTYPE html>

<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/Favicon.ico" type="image/x-icon">

    @Styles.Render(Url.Content("~/Content/css"))


</head>
<body class="d-flex flex-column h-100">



    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center user-select-none">
            <h1 class="display-4 fw-normal">Упс, произошла ошибка</h1>
            <p class="fs-5 text-muted">Попробуйте снова!</p>
        </div>
    </header>







    <footer class="footer py-3 my-4 mt-auto w-100">
        <div class="container">
            <p class="text-center text-muted">&copy; 2022 ЛСД</p>
        </div>
    </footer>



</body>

</html>


