@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center user-select-none">
        <h1 class="display-4 fw-normal">Я отказываюсь работать в этом позорном браузере</h1>
        <p class="fs-5 text-muted">Используйте GoogleChrome или FireFox!</p>
    </div>
</header>